* {
    margin:0;
    padding:0;

}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/random");
  background-size: cover;

}
header {
    justify-content: center;
    margin-inline: auto;
    padding: 2%;
    margin-bottom: 3%;
    text-align: center;
    background: linear-gradient(red,orange,green);
}

section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    border-radius: 8.5%;
    background: linear-gradient(purple,lime);
    margin-inline:auto;
}
section div {
    width: fit-content;
    margin-top: 15px;
    height: fit-content;
    overflow: hidden;
    outline: rgb(28, 28, 28) solid 8px;
}