* {
    margin:0;
    padding:0;
    
}
:root {
    font-size: 62.5%;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/random");
  background-size: cover;

}
header {
    justify-content: center;
    margin-inline: auto;
    padding: 2%;
    margin-bottom: .5rem;
    text-align: center;
    background: linear-gradient(red,orange,green);
}

section {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.674);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8.5%;
    background: linear-gradient(purple,lime);
    margin-inline:auto;
    height: fit-content;
}
section div {
    padding: .5rem;
    background-color: rgb(71, 203, 255);
    width: 95%;
    margin-top: 15px;
    margin-inline:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    align-items: center;
    overflow: hidden;
    outline: rgb(28, 28, 28) solid 8px;
    border-radius: 8.5%;
    animation: yellowbluedivoutline 2s linear infinite;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    justify-content: center;
}
section div img,video {
    outline: red dotted .4rem;
    animation: MediaNeonGreenoutline 2s linear infinite;
    
}

@keyframes yellowbluedivoutline {
    0%
    {
        box-shadow: 10px 10px 10px 10px yellow;
        animation: yellowbluedivoutline 1s infinite;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    100%
    {
        box-shadow: 0px 0px 0px 2px yellow;
        animation: yellowbluedivoutline 1s infinite;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }   


}
@keyframes MediaNeonGreenoutline {
    0%
    {
        box-shadow: 10px 10px 10px rgb(3, 247, 255);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    100%
    {
        box-shadow: 7px 7px 7px 7px yellow;
        animation: MediaNeonGreenoutline 1s infinite;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}